.header-color {
}

.landing-background {
  background-image: url('https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350');
  text-align: center;
  background-size: 100% ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.material-icons {
  color: gray;
}
.profile-pic {
  padding-top: 7em;
  width: 100px;
}
.mdl-layout__header--scroll .mdl-layout__header-row {
  background-color: black;
}
.banner-text {
  background-color: white;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius:  40px;
}

.banner-text h1, h2 {
  font-size: 66px;
  color: black;
}

.banner-text hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: black;
  font-size: 20px;
  padding: 1em;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: black;
  font-size: 5em;
  padding: 8px;

}

.project-grid {
  display: flex;
}
.project-grid i {
  font-size: 30px;
  padding-right: 5rem;
}
/* Contact Page CSS */

.contact-body {
  margin:auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top:1em;

}
.contact-grid {
  text-align: center;
  justify-content: flex-end;
  width: 80%;
  height: 550px;
  background: white;
  color:black;
  margin-bottom: 20px;
}
.contact-grid h2 {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  font-weight: bold;

}
.contact-grid p {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}
.contact-grid hr {
  border-top: 5px dotted #833fb2;
  width: 50%;
  margin: auto;
}
.contact-list{
font-family: 'Cormorant Garamond', serif;
font-size: 6vw;
}
.contact-list i {
  font-size: 5vw;
  padding-right: 5rem;
  padding-bottom: 3rem;
  justify-content: flex-end;
}
.contact-pic {
  border-radius: 30%;
}
.mdl-grid {
  background: none;
  margin-right: -110px;
  align-items: right
}

.Message-Wrapper {
  text-align: center;
  background: gray;
}
/* Contact Page CSS */

/* About Me Page CSS */
.aboutme  {
  padding:2em;
  display: flex;

}

.mdl-layout__content { background-image: url("https://images.pexels.com/photos/934062/pexels-photo-934062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
background-size: 100%;
background-size: cover;

}
/* About Me Page CSS */

/* Resume Page CSS */
.resume-grid-right{
  background: none;
  color:black;
  padding: 2em;

}

.resume-page{
  background-color: white;
}
.resume-grid-top div{
  align-items: inherit;
}
.resume-top-pic {
  background: none;
  align-items: center;
  display: inline-grid;
}
.skills {
  display: flex;
  display:contents;
}
.pic-bio {
  text-align: center;

}
.pic-bio p {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
  display: table-footer-group;
}
.pic-bio img {
  border-radius: 20px;
}
/* Resume Page CSS */
/* Experience Page CSS */
.experience-grid {
  align-items:center;
}

/* Experience Page CSS */
